* {
  margin: 0;
}

#root {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  font-weight: 350;
  text-align: center;
  background-color: rgba(144, 238, 144, 0.5);
  border-radius: 25px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1.4rem;
  gap: 10px;
}

.input-box {
  display: flex;
  justify-content: space-evenly;
}

.input-box button {
  background-color: rgb(12 176 89);
}

.input-text {
  border: none;
  width: 292.5px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.msg-box {
  height: 730px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.msg-box::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
