* {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-weight: 350;
  text-align: center;
  background-color: rgba(144, 238, 144, 0.5);
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 0.5vh 4vw;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

#typing-msg {
  padding: 0 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  top: 87.5vh;
  border-radius: 7px;
  font-weight: 350;
  font-style: italic;
  background-color: hsla(30, 100%, 88%, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-btn-box {
  display: flex;
  justify-content: space-evenly;
}

.input-box button {
  background-color: rgb(12 176 89);
}

.input-text {
  border: none;

  width: 75vw;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.msg-box {
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.msg-box::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroll-bottom-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  top: 87%;
  left: 89%;
  background-color: rgba(255, 255, 255, 0.801);
}

#scroll-bottom-arrow {
  height: 15px;
  width: 15px;
}
